* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  padding: 1rem;
  text-decoration: underline;
}

main {
  display: grid;
  gap: 1rem;
}
section {
  padding: 0 1rem;
}
.party-lineup {
  list-style: none;
  display: grid;
  gap: 1ch;
}
.party-lineup a {
  color: unset;
  text-decoration: unset;

  display: block;
  width: 100%;
  border: 2px solid darkslategrey;
  border-radius: 0.25rem;
  padding: 1ch;
}
.party-lineup li:hover {
  background: gold;
}
.party {
  display: grid;
  gap: 1ch;
  background-color: grey;
  border: 4px solid black;
}
.name-id,
.party-lineup {
  text-transform: capitalize;
}
span {
  color: purple;
}
@media (width > 600px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}
